- content_for :page_title, "Posts by #{developer.username}"
%section#author
  %header.page_head
    %h1
      #{pluralize developer.posts_count, "post"}
      by #{developer.username}
      - twitter_handle = developer.twitter_handle
      - github_handle = developer.github_handle
      - if twitter_handle
        = link_to "@#{twitter_handle}", "https://twitter.com/#{twitter_handle}", class: "author_twitter", target: "_blank"
      - if github_handle
        = link_to "@#{github_handle}", "https://github.com/#{github_handle}", class: "author_github", target: "_blank"

= render posts
